.bodyCheval {
    min-height: 100vh;
    background-color: #231F20;
    text-align: center;
}

.nomCheval {
    padding-top: 10vh;
    color: white;
}

.imgDetail {
    width: 30vw;
    padding-top: 1%;
    padding-bottom: 1%;
}

p {
    color: white;
}

.imgDetail2 {
    height: 30vh;
    padding: 5%;
}