.bodyBilan {
    min-height: 100vh;
    background-color: #231F20;
}

.divBilan {
    padding-top: 15vh;
    width: 100%;
}

.result {
    border-radius: 5px;
    padding-left: 2%;
    width: 90vw;
    margin: auto;
}

.result2 {
    margin-top: 2%;
}

.pReussite {
    margin: 0;
    text-align: center;
}

.reussite {
    text-align: center;
    font-style: italic;
    border-radius: 5px;
    margin: 0;
}

hr {
    background-color: white;
    width: 50%;
}