.bodyListe {
    min-height: 100vh;
    background-color: #231F20;
    padding: 0 2% 0 2%;
}

.titreListe {
    color: white;
    text-align: center;
    padding-top: 12vh;
    padding-bottom: 5%;
}

.rowListe {
    padding-left: 10% !important;
}

.lienCheval {
    color: white;
    text-decoration: none;
}

.lienCheval:hover {
    color: yellow;
    text-decoration: none;
}