.bodyApp {
    height: 100vh;
    background-color: #231F20;
    display: flex;
}

.divApp {
    margin: auto;
}

.divAccueil {
    width: 200px;
}

.lienAccueil:hover {
    text-decoration: none;
}

.accueil {
    color: white;
    font-weight: bold;
    padding-left: 5%;
}

.accueil:hover {
    color: yellow;
    text-decoration: none;
}